@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'montserrat', sans-serif;
}

/* scroll bar */
html::-webkit-scrollbar {
	width: 0.5rem;
}

html::-webkit-scrollbar-track {
	background: #ffffff;
}

html::-webkit-scrollbar-thumb {
	background: #e2beff;
}

/* bg-loader */
.bg-loader{
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-loader .loader{
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-radius: 50%;
	border-top-color: #7814a7;
	border-right-color: #7814a7;
	border-bottom-color: #7814a7;
	animation: puterin .8s linear infinite;
}

/* navbar */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #72139e;
}

.navbar-light .navbar-nav .nav-link {
    color: #b584cc;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #72139e;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #72139e;
}

input[type="text"][disabled]{background-color:#fff;}

/* Banner */
.banner {
    margin-top: 50px;
    background-color: #e2beff;
}

.banner-images{
    width: 80%;
    height: 412px;
    margin-top: 110px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.banner{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.banner .container {
    height: 650px;
}

/* about */
.about .container {
    height: 650px;
}



.w-100 {
	height: 100vh;
}


.btn {
    margin-top: 20px;
    color: #c59dd8;
    background-color: #752d96;
    border-color: #752d96;
}

.btn:hover {
    color: #b584cc;
    background-color: #4e1e64;
    border-color: #4e1e64;
}

.btn:focus {
    color: #b584cc;
    background-color: #4e1e64;
    border-color: #4e1e64;
}


.form-control:disabled
{
    background-color: #ffffff;
}

/* discuss */
.discuss .container {
    height: 650px;
}

@keyframes puterin{
	100%{
		transform: rotate(360deg);
	}
}