<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Deteksi Berita Hoax</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='newspaper.png') }}">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- CSS Style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
    </head>
    <body>

        <!-- loader -->
        <div class="bg-loader">
            <div class="loader"></div>
        </div>

        
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top" style="background-color:#fbf6ff ;">
            <div class="container">
                <a class="navbar-brand fw-bold fs-4" href="#top">
                    <span style="color:#782e9c;">Fake News</span><span style="color: #b584cc"> Detector</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <ul class="navbar-nav fw-bold">
                            <li class="nav-item">
                                <a class="nav-link fs-6 active" aria-current="page" href="#top";">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-6" href="#about">Tentang</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-6" href="#deteksi">Deteksi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Banner -->
        <div class="banner" id="banner">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-15 col-lg-6 my-auto">
                        <h1 class="fw-bold" style="margin-top:90px;">
                            <img src="{{ url_for('static', filename='newspaper.png') }}" alt="" width="15%" style="margin-right:10px; margin-bottom:10px; ">
                            <span style="color:#b584cc">SAY NO TO </span><span style="color: #782e9c;">HOAX!</span>
                        </h1>
                        <br>
                        <p style="color:#752b97;">
                            Halo! Selamat datang di website kami. Silahkan gunakan website kami untuk mendeteksi naskah berita Anda. Selalu waspada terhadap berita palsu yang saat ini merajalela.
                        </p>
                    </div>
                    <div class="col-10 col-lg-6 my-6">
                        <img src="{{ url_for('static', filename='news-reporter.png') }}" style="width: 350px; height: 350px; margin-left: 150px;" alt="banner-images" class="banner-images">
                    </div>
                </div>
            </div>
        </div>

        <!-- about -->
        <div id="about" class="about p-5" style="background-color:#fbf6ff;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class=" fw-bold fs-4 text-center p-5">
                            <p style="color: #4e1e64;">Tentang</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="about">
                            <img src="{{ url_for('static', filename='fake.png') }}" alt="" class="img-fluid" width="50%" style="margin-left:120px;">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 mt-4">
                        <div class="about-text justify-content-">
                            <p style="margin-top:18px; color: #752b97;">Website Deteksi Berita Hoax Menggunakan Metode Machine Learning</p>
                            <p style="color:#752b97;">Website dibuat dengan tujuan Tugas Akhir mata kuliah Sistem Temu Kembali Informasi. Pada website ini kami menggunakan Model Naive Bayes untuk mendeteksi naskah berita apakah termasuk hoax atau tidak hoax</p>
                            <p style="color:#752b97;">Silahkan pilih menu Deteksi untuk mendeteksi naskah berita Anda. Mohon gunakan website kami dengan bijak, dan Website kami tidak menjamin hasil yang akurat. Kami harap Anda tetap selalu waspada dimanapun dan kapanpun</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <div class=" fw-bold fs-4 text-center p-5">
            <p style="color: #4e1e64;">Deteksi</p>
        </div>
        <div class="container card col-md-10" id="deteksi">
            <h5 class="mb-0 mt-3 ms-2 fw-bold" style="color:#4e1e64;">Deteksi Berita</h5><hr>
            <p style="margin-left:15px;">
                Silahkan masukkan naskah berita pada form dibawah!
            </p>
            <div class="card-body">
                <form action="{{ url_for('predict') }}" method="POST">
                    <div class=" mb-3">
                        <label for="nama" class="form-label">Naskah Berita</label>
                        <textarea class="form-control" id="deteksi" name="deteksi" rows="5" required></textarea>
                    </div>
                    <div class=" mb-3">
                </div>
                <button type="submit" name="hitung" value="Predict" class="btn btn-light fw-bold">Deteksi</button>
            </form>
            </div>
        </div>    
        <br><br><br><br>

        <!-- footer -->
        <footer class="footer bg-dark p-3">
            <div class="container">
                <div class="row text-light">
                    <div class="col-6 text-lg-start text-sm-start" style="color:#f8e9ff;">
                        &copy; Copyright 2024 | Fake News Detector. All Rights Reserved
                    </div>
                    <div class="col-6 text-lg-end text-sm-end" style="color:#f8e9ff;">
                        Created by Kelompok 9
                    </div>
                </div>
            </div>
        </footer>

    
        

        



        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
        </script>

        <!-- js bg-loader -->
        <script type="text/javascript">
            $(document).ready(function(){
                $(".bg-loader").hide();
            })
        </script>

        <!-- js navbar active -->
        <script type="text/javascript">
            $("ul.navbar-nav li a").on("click", function() {
            $("ul.navbar-nav li a").removeClass("active");
            $(this).addClass("active")
          })

        </script>

        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/98c8495b43.js" crossorigin="anonymous">

        </script>

        
        
        
    </body>
</html>